# NO WIFI

# 驱动
CONFIG_PACKAGE_kmod-ath11k=n
CONFIG_PACKAGE_kmod-ath11k-ahb=n
CONFIG_PACKAGE_kmod-ath11k-pci=n
# CONFIG_PACKAGE_kmod-ath is not set

# 固件
# CONFIG_PACKAGE_ath11k-firmware is not set
CONFIG_PACKAGE_ath11k-firmware-ipq6018=n
CONFIG_PACKAGE_ath11k-firmware-ipq6018-ddwrt=n
CONFIG_PACKAGE_ath11k-firmware-qcn9074=n
CONFIG_PACKAGE_ath11k-firmware-qcn9074-ddwrt=n

# 模块和组件
# CONFIG_PACKAGE_kmod-mac80211 is not set
# CONFIG_PACKAGE_kmod-cfg80211 is not set
CONFIG_PACKAGE_wpad-openssl=n
CONFIG_PACKAGE_hostapd-common=n
# CONFIG_PACKAGE_wpad-basic-openssl is not set
# CONFIG_PACKAGE_iw is not set
# CONFIG_PACKAGE_wireless-regdb is not set

# NSS
CONFIG_ATH11K_NSS_SUPPORT=n
CONFIG_NSS_DRV_WIFIOFFLOAD_ENABLE=n
CONFIG_PACKAGE_kmod-qca-nss-wifi-meshmgr=n

# CONFIG_PACKAGE_ipq-wifi-zn_m2 is not set
# CONFIG_PACKAGE_ipq-wifi is not set